/* PHASE 0: Sidebar */


.profile-picture {
display: block; 
margin-top: -120px;
border: 1px solid black;
border-radius: 3px;
position: relative;
}

.profile-info > h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 20px;
}

.profile-info > p {
    margin-bottom: 18px;
}

.profile-nav > li {
    display: block;
    border-bottom: 1px solid rgb(222, 221, 221);
    font-weight: bold;
    margin: 5px;
    padding: 3px;
}

.profile-nav > li:first-child {
    border-top: 1px solid rgb(222, 221, 221);
    margin: 5px;
}

