/* PHASE 2: Thumbs */


.friends {
    display: flex;
    flex-wrap: wrap;
}

.thumb {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    width: 50px;
    height: 50px;
}

.friends > li {
    margin-top: 20px;
    margin: 5px;
}

.thumb:before {
    content:"";
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.thumb:after {
    content:attr(title);
    display:none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    bottom: 65px;
}

.thumb:hover:before,
.thumb:hover:after {

    display: block;

}